<div class="container__big-card">
    <div class="big-card__picture">
        <img 
            src="{{ photoCover }}" 
            alt=""
            height="200px"
            srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="https://www.letras.mus.br/corinthians/1539059/" target="_blank">{{cardTitle}}</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="https://www.letras.mus.br/corinthians/1539059/" target="_blank">{{cardDescription}}</a></p>
    </div>
</div>
